<plugin version="1.3">
  <mainWindow>
    <ribbon>
      <tab name="Edit">
        <group name="Manage">
          <button label="Delete">
            <button label="Multiple Deletion" largeImage="/Images/32/delete.png, SIM.Tool.Plugins.MultipleDeletion" type="SIM.Tool.Plugins.MultipleDeletion.MultipleDeletionButton, SIM.Tool.Plugins.MultipleDeletion" width="55"/>
          </button>
        </group>
      </tab>
    </ribbon>
  </mainWindow>
</plugin>