*.user
*.suo
src/packages/
src/TestResults/
src/SIM.Tool/obj/
src/SIM.Tool/bin/
src/SIM.Tool.Wizards/obj/
src/SIM.Tool.Wizards/bin/
src/SIM.Tool.Windows/obj/
src/SIM.Tool.Windows/bin/
src/SIM.Tool.Plugins.TrayPlugin/obj/
src/SIM.Tool.Plugins.TrayPlugin/bin/
src/SIM.Tool.Base/obj/
src/SIM.Tool.Base/bin/
src/SIM.Tests/obj/
src/SIM.Tests/bin/
src/SIM.Pipelines/obj/
src/SIM.Pipelines/bin/
src/SIM.Products/obj/
src/SIM.Products/bin/
src/SIM.Instances/obj/
src/SIM.Instances/bin/
src/SIM.Adapters/obj/
src/SIM.Adapters/bin/
src/SIM.Base/obj/
src/SIM.Base/bin/
src/obj/
src/SIM.Client.Tests/bin/
src/SIM.Client.Tests/obj/
src/SIM.Client/bin/
src/SIM.Client/obj/
src/SIM.Core/obj/
src/SIM.Core/bin/
obj/
*.pfx
desktop.ini
*.tmp_proj
