*.pfx
*.suo
*.tmp_proj
*.user
build/bin/
build/bin/
build/publish/
build/publish/
build/stderr.txt
build/stdout.txt
desktop.ini
obj/
src/SIM.Adapters/bin/
src/SIM.Adapters/obj/
src/SIM.Base/bin/
src/SIM.Base/obj/
src/SIM.Client.Tests/bin/
src/SIM.Client.Tests/obj/
src/SIM.Client/bin/
src/SIM.Client/obj/
src/SIM.Core/bin/
src/SIM.Core/obj/
src/SIM.FileSystem/bin/
src/SIM.FileSystem/obj/
src/SIM.Instances/bin/
src/SIM.Instances/obj/
src/SIM.Pipelines/bin/
src/SIM.Pipelines/obj/
src/SIM.Products/bin/
src/SIM.Products/obj/
src/SIM.Tests/bin/
src/SIM.Tests/obj/
src/SIM.Tool.Base/bin/
src/SIM.Tool.Base/obj/
src/SIM.Tool.Plugins.TrayPlugin/bin/
src/SIM.Tool.Plugins.TrayPlugin/obj/
src/SIM.Tool.Windows/bin/
src/SIM.Tool.Windows/obj/
src/SIM.Tool.Wizards/bin/
src/SIM.Tool.Wizards/obj/
src/SIM.Tool/bin/
src/SIM.Tool/obj/
src/TestResults/
src/obj/
src/packages/
src/.vs/
src/SIM.FileSystem.AutoTests/bin/
src/SIM.Client.UnitTests/bin/
src/SIM.Foundation.SqlAdapter/bin/
src/SIM.Foundation.SqlAdapter/obj/
src/SIM.Foundation.SqlAdapter.IntegrationTests/bin/
src/SIM.Foundation.SqlAdapter.IntegrationTests/obj/
src/SIM.Sitecore9Installer/bin/
src/SIM.Telemetry/bin/
src/SIM.Telemetry.Tests/bin/
src/SIM.SitecoreEnvironments/bin/
/.vs
src/SIM.Sitecore9Installer.Tests/bin/
/src/ContainerInstaller/bin/*
/src/SIM.DockerImages/bin/*
src/SIM.Products.Tests/bin/
