<?xml version="1.0" encoding="utf-8" ?>

<log4net>
  <!-- This logger stores only INFO and higher. -->
  <appender name="LogFileAppender" type="SIM.Base.LogFileAppender, SIM.Base">
    <appendToFile value="true" />
    <file value="$(will-be-replaced-by-hardcode)" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <acceptOnMatch value="true" />
      <levelMin value="INFO" />
    </filter>
  </appender>

  <appender name="LogFileDebugAppender" type="SIM.Base.LogFileAppender, SIM.Base">
    <appendToFile value="true" />
    <file value="$(debugPath)" /> <!-- Special value. SIM LogFileAppender will subsitute debug log file name. -->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
    </layout>
  </appender>

  <!-- Primary logger logs entries on the DEBUG level. Entries are filtered by particular appender. -->
  <root>
    <priority value="DEBUG" />
    <appender-ref ref="LogFileAppender" />
    <appender-ref ref="LogFileDebugAppender" />
  </root>
</log4net>