<plugin version="1.3">
  <mainWindow>
    <ribbon>
      <tab name="Open">
        <group name="Page">
          <button label="Sitecore Client">
            <separator />
            <button label="Support Toolbox" largeImage="/Images/32/toolbox.png, SIM.Tool.Plugins.SupportToolbox" type="SIM.Tool.Plugins.SupportToolbox.OpenToolboxButton, SIM.Tool.Plugins.SupportToolbox" />
          </button>
          <button label="Log in admin">
            <separator />
            <button label="Support Toolbox" largeImage="/Images/32/toolbox1.png, SIM.Tool.Plugins.SupportToolbox" type="SIM.Tool.Plugins.SupportToolbox.OpenToolboxButton, SIM.Tool.Plugins.SupportToolbox" />
          </button>
        </group>
      </tab>
    </ribbon>
    <contextMenu>
      <item header="Support Toolbox" image="/Images/32/toolbox2.png, SIM.Tool.Plugins.SupportToolbox" type="SIM.Tool.Plugins.SupportToolbox.OpenToolboxButton, SIM.Tool.Plugins.SupportToolbox" />
    </contextMenu>
  </mainWindow>
</plugin>