<plugin version="1.3">
  <mainWindow>
    <ribbon>
      <tab name="Edit">
        <group name="Manage">
          <!-- 
            <button   label="Publish Site"                        largeImage="/Images/32/publishnow.png, SIM.Tool.Windows"                 type="SIM.Tool.Windows.MainWindowComponents.PublishButton, SIM.Tool.Windows">
          -->
          <button   label="Publish Site"                        largeImage="/Images/32/publish.png, SIM.Tool.Windows"                 type="SIM.Tool.Windows.MainWindowComponents.PublishButton, SIM.Tool.Windows"        param="incremental">
            <button label="Incremental"                         largeImage="/Images/16/publish1.png, SIM.Tool.Windows"                type="SIM.Tool.Windows.MainWindowComponents.PublishButton, SIM.Tool.Windows"        param="incremental" />
            <button label="Smart"                               largeImage="/Images/16/publish2.png, SIM.Tool.Windows"                type="SIM.Tool.Windows.MainWindowComponents.PublishButton, SIM.Tool.Windows"        param="smart" />
            <button label="Republish"                           largeImage="/Images/16/publish3.png, SIM.Tool.Windows"                type="SIM.Tool.Windows.MainWindowComponents.PublishButton, SIM.Tool.Windows"        param="republish" />
          </button>
        </group>
      </tab>
    </ribbon>
    <contextMenu>
      <item header="Publish Site" image="/Images/16/publish4.png, SIM.Tool.Windows" type="SIM.Tool.Windows.MainWindowComponents.PublishButton, SIM.Tool.Windows" />
    </contextMenu>
  </mainWindow>
  <wizards>
    <install>
      <finish>
        <action text="Publish Site" type="SIM.Tool.Windows.MainWindowComponents.PublishButton, SIM.Tool.Windows" method="PublishSite" />
      </finish>
    </install>
    <installmodules>
      <finish>
        <action text="Publish Site" type="SIM.Tool.Windows.MainWindowComponents.PublishButton, SIM.Tool.Windows" method="PublishSite" />
      </finish>
    </installmodules>
  </wizards>
</plugin>