<plugin version="1.3">
  <mainWindow>
    <ribbon>
      <tab name="Home">
        <group name="Tools">
          <button   label="Bundled Tools">
            <button label="Submit Patch Source Code" largeImage="/Images/32/debug_ok.png, SIM.Tool.Plugins.SupportWorkaround" type="SIM.Tool.Plugins.SupportWorkaround.SubmitWorkaroundButton, SIM.Tool.Plugins.SupportWorkaround" />
          </button>
        </group>
      </tab>
    </ribbon>
  </mainWindow>
</plugin>