<plugin version="1.3">
  <mainWindow>
    <ribbon>
      <tab name="Home">
        <group name="Tools">
          <button label="Bundled Tools">
            <button label="SSPG" largeImage="/Images/32/package_edit.png, SIM.Tool.Plugins.SSPG" type="SIM.Tool.Plugins.SSPG.OpenSSPGButton, SIM.Tool.Plugins.SSPG" />
          </button>
        </group>
      </tab>
    </ribbon>
  </mainWindow>
</plugin>