<plugin version="1.3">
  <mainWindow>
    <ribbon>
      <tab name="Home">
        <group name="Tools">
          <button label="Bundled Tools">
            <button label="Log Analyzer" largeImage="/Images/32/zoom_vertical.png, SIM.Tool.Plugins.LogAnalyzer" type="SIM.Tool.Plugins.LogAnalyzer.OpenLogsButton, SIM.Tool.Plugins.LogAnalyzer" />
          </button>
        </group>
      </tab>
      <tab name="Open">
        <group name="File System">
          <button label="Log Files">
            <button label="Entire Log files" largeImage="/Images/32/zoom_vertical1.png, SIM.Tool.Plugins.LogAnalyzer" type="SIM.Tool.Plugins.LogAnalyzer.OpenLogsButton, SIM.Tool.Plugins.LogAnalyzer" />
          </button>
        </group>
      </tab>
    </ribbon>
    <contextMenu>
      <item header="Analyze log files" image="/Images/32/zoom_vertical2.png, SIM.Tool.Plugins.LogAnalyzer" type="SIM.Tool.Plugins.LogAnalyzer.OpenLogsButton, SIM.Tool.Plugins.LogAnalyzer" />
    </contextMenu>
  </mainWindow>
</plugin>