<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <settings>
    <setting name="Sitecore.LogAnalyzer.Modules.Azure.StorageName" value=""/>
    <setting name="Sitecore.LogAnalyzer.Modules.Azure.StorageKey" value=""/>
    <setting name="Sitecore.LogAnalyzer.Modules.Azure.RoleFilter" value=""/>
    <setting name="Sitecore.LogAnalyzer.Modules.Azure.RoleInstanceFilter" value=""/>
    <setting name="Sitecore.LogAnalyzer.Modules.Azure.QueryFilter" value=""/>
    <setting name="Sitecore.LogAnalyzer.Modules.Azure.StartTimeFilter" value=""/>
    <setting name="Sitecore.LogAnalyzer.Modules.Azure.EndTimeFilter" value=""/>
  </settings>
</configuration>