<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <level name="ERROR" length="40" dividers="(:&#13;&#10;&#9;">
		<predefinedType name="Application error"/>
		<predefinedType name="A rendering error"/>
	</level>
	
	<level name="INFO" length="40" dividers="(:">
		<predefinedType name="File is being deleted"/>
		<predefinedType name="Mail sent"/>
		<predefinedType name="Installing"/>
	</level>
	
    <level name="WARN" length="40" dividers="(">
        <predefinedType name="Memory threshold"/>
        <predefinedType name="Item threshold"/>
        <predefinedType name="Timing threshold"/>
		<predefinedType name="Memory usage"/>
		<predefinedType name="Long running operation"/>
		<predefinedType name="Shutdown message"/>
		<predefinedType name="Could not find"/>
		<predefinedType name="Sitecore shutting down"/>
		<predefinedType name="Could not resolve"/>
		<predefinedType name="Analystics"/>
		<predefinedType name="The cache load factor"/>
		<predefinedType name="Memory used before/after"/>
	</level>
	
	<level name="DEBUG" length="40" dividers="(">
	</level>
	
	<level name="FATAL" length="40" dividers="(">
	</level>

	<settings>
		<!-- Maximum allowed number of logs for copying to Clipboard -->
		<setting name="MaxNumberOfLogsForTranseringToClipboard" value="20000"/>
		<!-- SCLA can send summary report to Sitecore Support Server. Possible values: always (SCLA always sends reports), prompt (prompt dialog will be shown), never (SCLA won't send reports) -->
		<setting name="SendReportsToSCLAServer" value="prompt"/>
	</settings>

  <modules>
    <!--Ucommnet this if you would like to enable Sitecore Log Analyzer Azure module-->
    <!--<add name="Azure Storage Table" assembly="SitecoreLogAnalyzer.Modules.Azure">
      <invoker type="Sitecore.LogAnalyzer.Modules.Azure.Presentation.AzureSourceInvoker, SitecoreLogAnalyzer.Modules.Azure.Presentation" image="..\Resources\Azure.png"></invoker>
    </add>-->
  </modules>
 </configuration>