<?xml version="1.0"?>

<app version="1.4">
  <mainWindow>
    <contextMenu>
      <item   header="Browse Sitecore Website"                  image="/Images/$sm/earth2.png, SIM.Tool.Windows"                                              type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows" />
      <item   header="Browse Sitecore Client"                   image="/Images/$sm/Sitecore.png, SIM.Tool.Windows"                                            type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore" />
      <item   header="Log in admin"                             image="/Images/$sm/log_in.png, SIM.Tool.Windows"                                              type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore">
        <item header="Google Chrome"                            image="/Images/$lg/chrome.png, SIM.Tool.Windows"                                              type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:chrome"/>
        <item header="Mozilla Firefox"                          image="/Images/$lg/firefox.png, SIM.Tool.Windows"                                             type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:firefox"/>
        <item header="Internet Explorer"                        image="/Images/$lg/ie.png, SIM.Tool.Windows"                                                  type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:iexplore"/>
        <item header="Apple Safari"                             image="/Images/$lg/safari.png, SIM.Tool.Windows"                                              type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:safari"/>
        <separator/>
        <item   header="Sitecore Admin"                         image="/Images/$lg/toolbox.png, SIM.Tool.Windows"                                           type="SIM.Tool.Windows.MainWindowComponents.OpenToolboxButton, SIM.Tool.Windows"    param="bypass" />
        <separator/>
        <item header="Copy URL"                                 image="/Images/$lg/astrologer.png, SIM.Tool.Windows"                                           type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="$(clipboard)"/>
      </item>
      <item   header="Sitecore Admin"                           image="/Images/$lg/toolbox.png, SIM.Tool.Windows"                                             type="SIM.Tool.Windows.MainWindowComponents.OpenToolboxButton, SIM.Tool.Windows" />
      <item   header="Open Folder"                              image="/Images/$sm/folder_open.png, SIM.Tool.Windows"                                         type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(website)"/>
      <item   header="Open Visual Studio"                       image="/Images/$sm/vs.png, SIM.Tool.Windows"                                              type="SIM.Tool.Windows.MainWindowComponents.OpenVisualStudioButton, SIM.Tool.Windows" />
      <separator />
      <item   header="Analyze log files"                        image="/Images/$lg/zoom_vertical.png, SIM.Tool.Windows"                                       type="SIM.Tool.Windows.MainWindowComponents.OpenLogsButton, SIM.Tool.Windows" />
      <item   header="Open log file"                            image="/Images/$sm/console.png, SIM.Tool.Windows"                                             type="SIM.Tool.Windows.MainWindowComponents.OpenCurrentLogButton, SIM.Tool.Windows" />
      <item   header="Open web.config file"                     image="/Images/$sm/document_text.png, SIM.Tool.Windows"                                       type="SIM.Tool.Windows.MainWindowComponents.OpenWebConfigButton, SIM.Tool.Windows" />
      <separator />
      <item   header="Publish Site"                             image="/Images/$sm/publish.png, SIM.Tool.Windows"                                             type="SIM.Tool.Windows.MainWindowComponents.PublishButton, SIM.Tool.Windows" />
      <separator />
      <item   header="Backup"                                   image="/Images/$sm/box_into.png, SIM.Tool.Windows"                                            type="SIM.Tool.Windows.MainWindowComponents.BackupInstanceButton, SIM.Tool.Windows" />
      <item   header="Restore"                                  image="/Images/$sm/box_out.png, SIM.Tool.Windows"                                             type="SIM.Tool.Windows.MainWindowComponents.RestoreInstanceButton, SIM.Tool.Windows" />
      <separator />
      <item   header="Export"                                   image="/Images/$sm/download.png, SIM.Tool.Windows"                                            type="SIM.Tool.Windows.MainWindowComponents.ExportInstanceButton, SIM.Tool.Windows" />
      <separator />
      <item   header="Install modules"                          image="/Images/$sm/install.png, SIM.Tool.Windows"                                             type="SIM.Tool.Windows.MainWindowComponents.InstallModulesButton, SIM.Tool.Windows" />
      <separator />
      <item   header="Reinstall instance"                       image="/Images/$sm/redo.png, SIM.Tool.Windows"                                                type="SIM.Tool.Windows.MainWindowComponents.ReinstallInstanceButton, SIM.Tool.Windows" />
      <separator />
      <item   header="Delete"                                   image="/Images/$sm/uninstall.png, SIM.Tool.Windows"                                           type="SIM.Tool.Windows.MainWindowComponents.DeleteInstanceButton, SIM.Tool.Windows" />
    </contextMenu>
  </mainWindow>
</app>