<?xml version="1.0"?>

<app version="1.4">
  <mainWindow>
    <ribbon>
      <tab     name="Home">
        <group name="Refresh">
          <button       label="Refresh sites"                                       largeImage="/Images/$lg/refresh.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.RefreshButton, SIM.Tool.Windows"        param="sites">
            <button     label="Refresh sites"                                       largeImage="/Images/$sm/refresh.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.RefreshButton, SIM.Tool.Windows"        param="sites"/>
            <button     label="Refresh installer"                                   largeImage="/Images/$sm/refresh.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.RefreshButton, SIM.Tool.Windows"        param="installer"/>
            <button     label="Refresh caches"                                      largeImage="/Images/$sm/refresh.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.RefreshButton, SIM.Tool.Windows"        param="caches"/>
            <separator />
            <button     label="Refresh all"                                         largeImage="/Images/$sm/refresh.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.RefreshButton, SIM.Tool.Windows"        param="all"/>
          </button>
        </group>
        <group name="Install">
          <button       label="Install Instance"                                    largeImage="/Images/$lg/add_domain.png, SIM.Tool.Windows"                  type="SIM.Tool.Windows.MainWindowComponents.InstallInstanceButton, SIM.Tool.Windows" />
          <button       label="Import Solution"                                     largeImage="/Images/$lg/upload.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.ImportInstanceButton, SIM.Tool.Windows" />
        </group>
        <group name="Tools">
          <button       label="Get Sitecore"                                        largeImage="/Images/$lg/cloud_download.png, SIM.Tool.Windows"              type="SIM.Tool.Windows.MainWindowComponents.Download8Button, SIM.Tool.Windows" />
          <button       label="Bundled Tools"                                       largeImage="/Images/$lg/toolbox.png, SIM.Tool.Windows">
            <button     label="Command Line"                                        largeImage="/Images/$sm/console.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.CommandLineButton, SIM.Tool.Windows" />
            <separator />
            <button     label="SIM Logs"                                            largeImage="/Images/$sm/folder_document2.png, SIM.Tool.Windows"            type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="%APPDATA%\Sitecore\Sitecore Instance Manager\Logs" />
            <button     label="SIM Data Folder"                                     largeImage="/Images/$sm/folder_window.png, SIM.Tool.Windows"               type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="%APPDATA%\Sitecore\Sitecore Instance Manager" />
            <separator />
            <button     label="Download Sitecore 8.x"                               largeImage="/Images/$sm/cloud_download.png, SIM.Tool.Windows"              type="SIM.Tool.Windows.MainWindowComponents.Download8Button, SIM.Tool.Windows" />
            <button     label="Download Sitecore 6.x and 7.x"                       largeImage="/Images/$sm/cloud_download.png, SIM.Tool.Windows"             type="SIM.Tool.Windows.MainWindowComponents.DownloadButton, SIM.Tool.Windows" />
            <separator />
            <button     label="Hosts Editor"                                        largeImage="/Images/$sm/modem_earth.png, SIM.Tool.Windows"                 type="SIM.Tool.Windows.MainWindowComponents.OpenHostsButton, SIM.Tool.Windows" />
            <button     label="MS SQL Manager"                                      largeImage="/Images/$sm/data.png, SIM.Tool.Windows"                        type="SIM.Tool.Windows.MainWindowComponents.DatabaseManagerButton, SIM.Tool.Windows" />
            <separator />
            <button     label="Update Licenses"                                     largeImage="/Images/$lg/scroll_refresh.png, SIM.Tool.Windows"              type="SIM.Tool.Windows.MainWindowComponents.UpdateLicenseButton, SIM.Tool.Windows" />
            <button     label="Multiple Deletion"                                   largeImage="/Images/$lg/delete.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.MultipleDeletionButton, SIM.Tool.Windows" width="55"/>
            <separator />
            <button     label="Log Analyzer"                                        largeImage="/Images/$lg/zoom_vertical.png, SIM.Tool.Windows"               type="SIM.Tool.Windows.MainWindowComponents.OpenLogsButton, SIM.Tool.Windows" />
            <button     label="SSPG"                                                largeImage="/Images/$lg/package_edit.png, SIM.Tool.Windows"                type="SIM.Tool.Windows.MainWindowComponents.OpenSSPGButton, SIM.Tool.Windows" />
            <button     label="Config Builder"                                      largeImage="/Images/$sm/wrench.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.ConfigBuilderButton, SIM.Tool.Windows" />
            <button     label="Install MongoDB"                                     largeImage="/Images/$lg/scroll_refresh.png, SIM.Tool.Windows"              type="SIM.Tool.Windows.MainWindowComponents.InstallMongoDbButton, SIM.Tool.Windows" />
            <separator />
            <button     label="Generate NuGet packages"                             largeImage="/Images/$sm/new_package.png, SIM.Tool.Windows"                 type="SIM.Tool.Windows.MainWindowComponents.GenerateNuGetPackagesButton, SIM.Tool.Windows" />
          </button>
        </group>
        <group name="App">
          <button       label="Settings"                                            largeImage="/Images/$lg/wrench.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.SettingsButton, SIM.Tool.Windows" />
        </group>
      </tab>
      <tab     name="Open">
        <group name="Page">
          <button       label="Sitecore Client"                                     largeImage="/Images/$lg/Sitecore.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore">
            <button     label="Front-end Site"                                      largeImage="/Images/$sm/earth2.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows" />
            <separator />
            <button     label="Sitecore Login"                                      largeImage="/Images/$sm/log_out.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore/login" />
            <separator />
            <button     label="Sitecore Desktop"                                    largeImage="/Images/$sm/Windows Table.png, SIM.Tool.Windows"               type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore/shell" />
            <separator />
            <button     label="Content Editor"                                      largeImage="/Images/$sm/Pencil.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore/shell/applications/content%20editor"/>
            <button     label="Page Editor"                                         largeImage="/Images/$sm/Paint.png, SIM.Tool.Windows"                       type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/?sc_mode=edit"/>
            <button     label="Launch Pad"                                          largeImage="/Images/$sm/startpage.png, SIM.Tool.Windows"                   type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore/client/Applications/Launch%20Pad"/>
            <separator />
            <button     label="Google Chrome"                                       largeImage="/Images/$lg/chrome.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore:chrome"/>
            <button     label="Google Chrome (Incognito)"                           largeImage="/Images/$lg/chrome.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore:chrome:/incognito"/>
            <button     label="Mozilla Firefox"                                     largeImage="/Images/$lg/firefox.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore:firefox"/>
            <button     label="Mozilla Firefox (Private)"                           largeImage="/Images/$lg/firefox.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore:firefox:-private-window"/>
            <button     label="Internet Explorer"                                   largeImage="/Images/$lg/ie.png, SIM.Tool.Windows"                          type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore:iexplore"/>
            <button     label="Internet Explorer (Private)"                         largeImage="/Images/$lg/ie.png, SIM.Tool.Windows"                         type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore:iexplore:-private"/>
            <button     label="Apple Safari"                                        largeImage="/Images/$lg/safari.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore:safari"/>
            <separator />
            <button     label="Support Toolbox"                                     largeImage="/Images/$lg/toolbox.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.OpenToolboxButton, SIM.Tool.Windows" />
          </button>
          <button       label="Log in admin"                                        largeImage="/Images/$lg/log_in.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore/">
            <button     label="Sitecore Desktop"                                    largeImage="/Images/$sm/Windows Table.png, SIM.Tool.Windows"              type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore/shell"/>
            <separator />
            <button     label="Content Editor"                                      largeImage="/Images/$sm/Pencil.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore/shell/applications/content%20editor"/>
            <button     label="Page Editor"                                         largeImage="/Images/$sm/Paint.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/?sc_mode=edit"/>
            <button     label="Launch Pad"                                          largeImage="/Images/$sm/startpage.png, SIM.Tool.Windows"                  type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore/client/Applications/Launch%20Pad"/>
            <separator />
            <button     label="Google Chrome"                                       largeImage="/Images/$lg/chrome.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:chrome"/>
            <button     label="Google Chrome (Incognito)"                           largeImage="/Images/$lg/chrome.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:chrome:/incognito"/>
            <button     label="Mozilla Firefox"                                     largeImage="/Images/$lg/firefox.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:firefox"/>
            <button     label="Mozilla Firefox (Private)"                           largeImage="/Images/$lg/firefox.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:firefox:-private-window"/>
            <button     label="Internet Explorer"                                   largeImage="/Images/$lg/ie.png, SIM.Tool.Windows"                         type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:iexplore"/>
            <button     label="Internet Explorer (Private)"                         largeImage="/Images/$lg/ie.png, SIM.Tool.Windows"                         type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:iexplore:-private"/>
            <button     label="Apple Safari"                                        largeImage="/Images/$lg/safari.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:safari"/>
            <separator />
            <button     label="Support Toolbox"                                     largeImage="/Images/$lg/toolbox.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.OpenToolboxButton, SIM.Tool.Windows"    param="bypass" />
            <separator />
            <button     label="Copy URL"                                            largeImage="/Images/$lg/astrologer.png, SIM.Tool.Windows"                  type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="$(clipboard)"/>
          </button>
        </group>
        <group name="File System">
          <button       label="Website Folder"                                      largeImage="/Images/$lg/folder_open.png, SIM.Tool.Windows"                 type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(website)">
            <button     label="Root Folder"                                         largeImage="/Images/$sm/folder_network.png, SIM.Tool.Windows"              type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(root)"/>
            <separator />
            <button     label="Website Folder"                                      largeImage="/Images/$sm/folder_open.png, SIM.Tool.Windows"                type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(website)"/>
            <button     label="Data Folder"                                         largeImage="/Images/$sm/folders.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(data)"/>
            <button     label="Databases Folder"                                    largeImage="/Images/$sm/folders.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(root)/Databases"/>
            <separator />
            <button     label="App_Config Folder"                                   largeImage="/Images/$sm/folder_open.png, SIM.Tool.Windows"                type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(website)/App_Config"/>
            <button     label="Include Folder"                                      largeImage="/Images/$sm/folder_open.png, SIM.Tool.Windows"                type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(website)/App_Config/Include"/>
          </button>
          <button       label="Config Files"                                        largeImage="/Images/$lg/copy.png, SIM.Tool.Windows"                        type="SIM.Tool.Windows.MainWindowComponents.OpenWebConfigButton, SIM.Tool.Windows">
            <button     label="web.config"                                          largeImage="/Images/$sm/document_text.png, SIM.Tool.Windows"               type="SIM.Tool.Windows.MainWindowComponents.OpenWebConfigButton, SIM.Tool.Windows" />
            <separator />
            <button     label="Global.asax"                                         largeImage="/Images/$sm/document_text.png, SIM.Tool.Windows"                  type="SIM.Tool.Windows.MainWindowComponents.OpenFileButton, SIM.Tool.Windows"   param="/Global.asax" />
            <separator />
            <button     label="ConnectionStrings.config"                            largeImage="/Images/$sm/data_copy.png, SIM.Tool.Windows"                   type="SIM.Tool.Windows.MainWindowComponents.OpenFileButton, SIM.Tool.Windows"       param="/App_Config/ConnectionStrings.config" />
            <button     label="Sitecore.config"                                     largeImage="/Images/$sm/data_copy.png, SIM.Tool.Windows"                   type="SIM.Tool.Windows.MainWindowComponents.OpenFileButton, SIM.Tool.Windows"       param="/App_Config/Sitecore.config" />
            <separator />
            <button     label="Showconfig.xml"                                      largeImage="/Images/$sm/document_gear.png, SIM.Tool.Windows"               type="SIM.Tool.Windows.MainWindowComponents.ConfigBuilderButton, SIM.Tool.Windows"  param="/showconfig" />
            <button     label="Showconfig.xml (normalized)"                         largeImage="/Images/$sm/document_gear.png, SIM.Tool.Windows"        type="SIM.Tool.Windows.MainWindowComponents.ConfigBuilderButton, SIM.Tool.Windows"  param="/showconfig /normalized" />
            <button     label="web.config.result.xml"                               largeImage="/Images/$sm/document_gear.png, SIM.Tool.Windows"              type="SIM.Tool.Windows.MainWindowComponents.ConfigBuilderButton, SIM.Tool.Windows"  param="/webconfigresult" />
            <button     label="web.config.result.xml (normalized)"                  largeImage="/Images/$sm/document_gear.png, SIM.Tool.Windows"       type="SIM.Tool.Windows.MainWindowComponents.ConfigBuilderButton, SIM.Tool.Windows"  param="/webconfigresult /normalized" />
          </button>
          <button       label="Log Files"                                           largeImage="/Images/$lg/history2.png, SIM.Tool.Windows">
            <button     label="Current Log file"                                    largeImage="/Images/$sm/console.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.OpenCurrentLogButton, SIM.Tool.Windows" />
            <separator />
            <button     label="Current 'log' Log file"                              largeImage="/Images/$sm/console.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.OpenCurrentLogButton, SIM.Tool.Windows" param="log" />
            <separator />
            <button     label="Current 'Crawling.log' Log file"                     largeImage="/Images/$sm/console.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.OpenCurrentLogButton, SIM.Tool.Windows" param="Crawling.log" />
            <button     label="Current 'Search.log' Log file"                       largeImage="/Images/$sm/console.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.OpenCurrentLogButton, SIM.Tool.Windows" param="Search.log" />
            <button     label="Current 'Publishing.log' Log file"                   largeImage="/Images/$sm/console.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.OpenCurrentLogButton, SIM.Tool.Windows" param="Publishing.log" />
            <button     label="Current 'Client.log' Log file"                       largeImage="/Images/$sm/console.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.OpenCurrentLogButton, SIM.Tool.Windows" param="Client.log" />
            <separator />
            <button     label="Current 'EXM.log' Log file"                         largeImage="/Images/$sm/console.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.OpenCurrentLogButton, SIM.Tool.Windows" param="Exm.log" />
            <separator />
            <button     label="Entire Log files"                                    largeImage="/Images/$lg/zoom_vertical.png, SIM.Tool.Windows"              type="SIM.Tool.Windows.MainWindowComponents.OpenLogsButton, SIM.Tool.Windows" />
          </button>
        </group>
        <group name="Apps">
          <button       label="Visual Studio"                                       largeImage="/Images/$lg/vs.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.OpenVisualStudioButton, SIM.Tool.Windows" />
        </group>
      </tab>
      <tab     name="Edit">
        <group name="Install">
          <button       label="Install Packages"                                     largeImage="/Images/$lg/install.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.InstallModulesButton, SIM.Tool.Windows" />
        </group>
        <group name="Manage">
          <button       label="App State"                                           largeImage="/Images/$lg/gearwheels.png, SIM.Tool.Windows">
            <button     label="Start"                                               largeImage="/Images/$sm/media_play.png, SIM.Tool.Windows"                  type="SIM.Tool.Windows.MainWindowComponents.ControlAppPoolButton, SIM.Tool.Windows" param="start" />
            <button     label="Stop"                                                largeImage="/Images/$sm/media_stop.png, SIM.Tool.Windows"                  type="SIM.Tool.Windows.MainWindowComponents.ControlAppPoolButton, SIM.Tool.Windows" param="stop" />
            <separator />
            <button     label="Recycle"                                             largeImage="/Images/$sm/garbage.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.ControlAppPoolButton, SIM.Tool.Windows" param="recycle" />
            <button     label="Kill process"                                        largeImage="/Images/$sm/cpu.png, SIM.Tool.Windows"                         type="SIM.Tool.Windows.MainWindowComponents.ControlAppPoolButton, SIM.Tool.Windows" param="kill" />
            <separator />
            <button     label="Change mode"                                         largeImage="/Images/$sm/cpu.png, SIM.Tool.Windows"                         type="SIM.Tool.Windows.MainWindowComponents.ControlAppPoolButton, SIM.Tool.Windows" param="mode" />
          </button>
          <button       label="Delete"                                              largeImage="/Images/$lg/uninstall.png, SIM.Tool.Windows"                   type="SIM.Tool.Windows.MainWindowComponents.DeleteInstanceButton, SIM.Tool.Windows">
            <button     label="Delete"                                              largeImage="/Images/$sm/uninstall.png, SIM.Tool.Windows"                  type="SIM.Tool.Windows.MainWindowComponents.DeleteInstanceButton, SIM.Tool.Windows" />
            <button     label="Reinstall"                                           largeImage="/Images/$sm/redo.png, SIM.Tool.Windows"                        type="SIM.Tool.Windows.MainWindowComponents.ReinstallInstanceButton, SIM.Tool.Windows" />
          </button>
          <button       label="Extra Actions"                                       largeImage="/Images/$lg/atom2.png, SIM.Tool.Windows">
            <button     label="Publish (Incremental)"                               largeImage="/Images/$sm/publish.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.PublishButton, SIM.Tool.Windows"        param="incremental" />
            <button     label="Publish (Smart)"                                     largeImage="/Images/$sm/publish.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.PublishButton, SIM.Tool.Windows"        param="smart" />
            <button     label="Publish (Republish)"                                 largeImage="/Images/$sm/publish.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.PublishButton, SIM.Tool.Windows"        param="republish" />
            <separator />
            <button     label="Clear Event Queues of All Databases"                 largeImage="/Images/$sm/data.png, SIM.Tool.Windows"                        type="SIM.Tool.Windows.MainWindowComponents.ClearEventQueueButton, SIM.Tool.Windows" />
            <button     label="Clear Event Queues of Core Database"                 largeImage="/Images/$sm/data.png, SIM.Tool.Windows"                        type="SIM.Tool.Windows.MainWindowComponents.ClearEventQueueButton, SIM.Tool.Windows" param="core" />
            <button     label="Clear Event Queues of Master Database"               largeImage="/Images/$sm/data.png, SIM.Tool.Windows"                        type="SIM.Tool.Windows.MainWindowComponents.ClearEventQueueButton, SIM.Tool.Windows" param="master" />
            <button     label="Clear Event Queues of Web Database"                  largeImage="/Images/$sm/data.png, SIM.Tool.Windows"                        type="SIM.Tool.Windows.MainWindowComponents.ClearEventQueueButton, SIM.Tool.Windows" param="web" />
            <separator />
            <button     label="Recycle All But This"                                largeImage="/Images/$sm/data.png, SIM.Tool.Windows"                        type="SIM.Tool.Windows.MainWindowComponents.RecycleAllButThisButton, SIM.Tool.Windows" />
            <button     label="Kill All w3wp But This"                              largeImage="/Images/$sm/data.png, SIM.Tool.Windows"                        type="SIM.Tool.Windows.MainWindowComponents.KillAllButThisButton, SIM.Tool.Windows" />
            <separator />
            <button     label="Attach debugger to process"                          largeImage="/Images/$lg/wrench.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.AttachDebuggerButton, SIM.Tool.Windows" />
            <button     label="Collect Memory Dump with MGAD"                       largeImage="/Images/$lg/wrench.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.CollectMemoryDumpButton, SIM.Tool.Windows" />
            <button     label="Trace method call with MAT"                          largeImage="/Images/$lg/wrench.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.ManagedArgsTracerButton, SIM.Tool.Windows" />
          </button>
        </group>
        <group name="Backup">
          <button       label="Backup"                                              largeImage="/Images/$lg/floppy_disks.png, SIM.Tool.Windows">
            <button     label="Backup"                                              largeImage="/Images/$sm/box_into.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.BackupInstanceButton, SIM.Tool.Windows" />
            <button     label="Export"                                              largeImage="/Images/$lg/download.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.ExportInstanceButton, SIM.Tool.Windows" />
          </button>
          <button       label="Restore"                                             largeImage="/Images/$lg/box_out.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.RestoreInstanceButton, SIM.Tool.Windows" />
        </group>
      </tab>
    </ribbon>
    <contextMenu>
      <item   header="Browse Sitecore Website"                  image="/Images/$sm/earth2.png, SIM.Tool.Windows"                                              type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows" />
      <item   header="Browse Sitecore Client"                   image="/Images/$sm/Sitecore.png, SIM.Tool.Windows"                                            type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore" />
      <item   header="Log in admin"                             image="/Images/$sm/log_in.png, SIM.Tool.Windows"                                              type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore">
        <item header="Google Chrome"                            image="/Images/$lg/chrome.png, SIM.Tool.Windows"                                              type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:chrome"/>
        <item header="Mozilla Firefox"                          image="/Images/$lg/firefox.png, SIM.Tool.Windows"                                             type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:firefox"/>
        <item header="Internet Explorer"                        image="/Images/$lg/ie.png, SIM.Tool.Windows"                                                  type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:iexplore"/>
        <item header="Apple Safari"                             image="/Images/$lg/safari.png, SIM.Tool.Windows"                                              type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:safari"/>
        <separator/>
        <item   header="Support Toolbox"                          image="/Images/$lg/toolbox.png, SIM.Tool.Windows"                                           type="SIM.Tool.Windows.MainWindowComponents.OpenToolboxButton, SIM.Tool.Windows"    param="bypass" />
        <separator/>
        <item header="Copy URL"                                 image="/Images/$lg/astrologer.png, SIM.Tool.Windows"                                           type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="$(clipboard)"/>
      </item>
      <item   header="Support Toolbox"                          image="/Images/$lg/toolbox.png, SIM.Tool.Windows"                                             type="SIM.Tool.Windows.MainWindowComponents.OpenToolboxButton, SIM.Tool.Windows" />
      <item   header="Open Folder"                              image="/Images/$sm/folder_open.png, SIM.Tool.Windows"                                         type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(website)"/>
      <item   header="Open Visual Studio"                       image="/Images/$sm/vs.png, SIM.Tool.Windows"                                              type="SIM.Tool.Windows.MainWindowComponents.OpenVisualStudioButton, SIM.Tool.Windows" />
      <separator />
      <item   header="Analyze log files"                        image="/Images/$lg/zoom_vertical.png, SIM.Tool.Windows"                                       type="SIM.Tool.Windows.MainWindowComponents.OpenLogsButton, SIM.Tool.Windows" />
      <item   header="Open log file"                            image="/Images/$sm/console.png, SIM.Tool.Windows"                                             type="SIM.Tool.Windows.MainWindowComponents.OpenCurrentLogButton, SIM.Tool.Windows" />
      <item   header="Open web.config file"                     image="/Images/$sm/document_text.png, SIM.Tool.Windows"                                       type="SIM.Tool.Windows.MainWindowComponents.OpenWebConfigButton, SIM.Tool.Windows" />
      <separator />
      <item   header="Publish Site"                             image="/Images/$sm/publish.png, SIM.Tool.Windows"                                             type="SIM.Tool.Windows.MainWindowComponents.PublishButton, SIM.Tool.Windows" />
      <separator />
      <item   header="Backup"                                   image="/Images/$sm/box_into.png, SIM.Tool.Windows"                                            type="SIM.Tool.Windows.MainWindowComponents.BackupInstanceButton, SIM.Tool.Windows" />
      <item   header="Restore"                                  image="/Images/$sm/box_out.png, SIM.Tool.Windows"                                             type="SIM.Tool.Windows.MainWindowComponents.RestoreInstanceButton, SIM.Tool.Windows" />
      <separator />
      <item   header="Export"                                   image="/Images/$sm/download.png, SIM.Tool.Windows"                                            type="SIM.Tool.Windows.MainWindowComponents.ExportInstanceButton, SIM.Tool.Windows" />
      <separator />
      <plugins />
      <separator />
      <item   header="Install modules"                          image="/Images/$sm/install.png, SIM.Tool.Windows"                                             type="SIM.Tool.Windows.MainWindowComponents.InstallModulesButton, SIM.Tool.Windows" />
      <separator />
      <item   header="Reinstall instance"                       image="/Images/$sm/redo.png, SIM.Tool.Windows"                                                type="SIM.Tool.Windows.MainWindowComponents.ReinstallInstanceButton, SIM.Tool.Windows" />
      <separator />
      <item   header="Delete"                                   image="/Images/$sm/uninstall.png, SIM.Tool.Windows"                                           type="SIM.Tool.Windows.MainWindowComponents.DeleteInstanceButton, SIM.Tool.Windows" />
    </contextMenu>
  </mainWindow>
</app>