<plugin version="1.3">
  <mainWindow>
    <ribbon>
      <tab name="Home">
        <group name="Tools">
          <button label="Bundled Tools">
            <button label="Start Sitecore Rocks" largeImage="/Images/32/SitecoreRocks.png, SIM.Tool.Plugin.SitecoreRocks" 
                    type="SIM.Tool.Plugin.SitecoreRocks.StartSitecoreRocks, SIM.Tool.Plugin.SitecoreRocks" />
          </button>
        </group>
      </tab>
    </ribbon>
  </mainWindow>
</plugin>