<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net45" />
  <package id="Microsoft.Web.Administration" version="7.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.Base" version="2.0.1.171" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.ConfigBuilder" version="2.0.1.171" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.ConfigBuilder.Base" version="2.0.1.171" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.FileSystem" version="2.0.1.171" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.InfoService.Client.Core" version="2.0.1.171" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.Logging" version="2.0.1.171" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.Net" version="2.0.1.171" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.Objects" version="2.0.1.171" targetFramework="net45" />
</packages>