<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Administration" version="7.0.0.0" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.Base" version="1.0.0.24" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.ConfigBuilder" version="1.0.0.16" targetFramework="net45" />
  <package id="Sitecore.Diagnostics.Logging" version="1.0.1.0" targetFramework="net45" />
</packages>